(
    arena: (
        width: 500.0,
        height: 600.0,
        paddlepos: 50.0,
    ),

    ball: (
        radius: 5.0,
    ),

    block: (
        width: 50.0,
        height: 25.0,
    ),

    paddle: (
        velocity: 300.0,
        width: 30.0,
        height: 10.0,
    ),
)