(
    arena: (
        width: 480.0,
        height: 600.0,
        paddlepos: 80.0,
    ),

    ball: (
        radius: 5.0,
    ),

    block: (
        width: 30.0,
        height: 10.0,
        hits: 0,
        damage_states: [
            (2, 1),
            (3, 2),
            (4, 3),
            (5, 4),
            (6, 5),
        ],
    ),

    paddle: (
        velocity: 300.0,
        width: 30.0,
        height: 10.0,
    ),
)